section.content{
	width: 100%;
	display: flex;
}
.menu-nav{
	width: 17%;
	position: absolute;
	border-right:1px solid #c0c0c0;
	top: 50px;
	left: 0;
	bottom: 30px;
	background-color: #333;
	overflow-y: auto;
}
.view-main{
	width: 83%;
	position: absolute;
	border-left:1px solid #c0c0c0;
	background-color: white;
	top: 50px;
	right: 0;
	bottom: 30px;
}
.footer-wrap{
    width: 100%;
	background-color: #999;
}
ul,li{
	list-style: none;
	margin: 0;
	padding:0;
	color: white;
	font-size: 12px;
	cursor: pointer;
}
.one-nav>li{
	width: 100%;
	height: auto;
	border-top: 1px solid #37414b;
 			border-bottom: 1px solid #1f262d;
}
.two-nav{
	display: none;
}
.two-nav>li{
	width: 83%;
	padding:10px 0 10px 17%;
	height: auto;
	background-color: #1e242b;
}
.two-nav>li:hover{
	background-color: #009966;
}
h4{
	margin: 0;
	padding: 10px 20px;
	
}
h4:hover{
	background-color: #009966;
}

 /*- scrollbar -*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #999;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color: #666;
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color: #333;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
.footer-wrap{ 
	width:100%;
	margin-top: 20px;
	position: fixed;
	bottom: 0;
}
footer{
	width:100%;
	padding: 0 10px;
	margin: 0 auto;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	
}