@import "common.css";
.container-main{
    padding: 2px 15px;
}
.search-box{
    padding: 10px 0 !important;
}
.page-info{
    float: left;
    line-height: 35px;
}
.pager {
    margin: 0;
    float: right;
}